.firstrow{
  width:0px;
  display: none;
}
body{
    background-color:#242582;
    padding: 0;
    margin: 0;

}
#table{
    margin: 100px;

    width: 80%;
    position: absolute;
    left: 10%;

    margin: 25px 0;
    font-size: 0.9em;
    font-family: cursive;
    min-width: 400px;
    border-radius: 5px;
}
#table th {
  font-weight: bold;
  padding: 5px;
  background: #553D67;
  border: 1px solid black;
    padding: 12px 15px;
}
#table td {
  border: 1px solid black;
  padding: 5px;
    padding: 12px 15px;
}
#table tr {
   border-bottom: 1px solid #dddddd;
}
#table tbody tr:nth-of-type(even) {

}

#table tbody tr:last-of-type {
    border-bottom: 2px solid #FFA07A;
}


h1{
  margin: 10px;
 background-color:#2F2FA2;
 color:#F63C72;
 padding:20px;

    font-family: cursive;
 text-align: center;
}
.myform input{
 margin:5px;
}
table{
 margin:5px;
}
